.scrollableList{
    max-height: 300px;
    overflow-y:scroll; 
}

.title {
    -webkit-animation-name: color-change;
    -webkit-animation-duration: 90s;
    -webkit-animation-iteration-count: infinite;

    animation-name: color-change;
    animation-duration: 90s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes color-change {
    5%   {color:white;}
    10%  {color :#33EEFF;}
    15%  {color :#33FFE3;}
    20%   {color :#33FFB1;}
    25%   {color :#BEFF33;}
    30%   {color :#F3FF33;}
    35%   {color :#FFCE33;}
    40%   {color :#FF9D33;}
    45%   {color :#FF5533;}
    50%   {color :#FF3333;}
    55%   {color :#FF3386;}
    60%   {color :#FF33E1;}
    65%   {color :#C633FF;}
    70%   {color :#7633FF;}
    75%   {color :#333CFF;}
    80%   {color :#3384FF;}
    85%   {color :#33C8FF;}
    90%   {color :#33FFC8;}
    95%   {color :#33FF93;}
    100%   {color :white;}
}

@keyframes color-change {
    5%   {color:white;}
    10%  {color :#33EEFF;}
    15%  {color :#33FFE3;}
    20%   {color :#33FFB1;}
    25%   {color :#BEFF33;}
    30%   {color :#F3FF33;}
    35%   {color :#FFCE33;}
    40%   {color :#FF9D33;}
    45%   {color :#FF5533;}
    50%   {color :#FF3333;}
    55%   {color :#FF3386;}
    60%   {color :#FF33E1;}
    65%   {color :#C633FF;}
    70%   {color :#7633FF;}
    75%   {color :#333CFF;}
    80%   {color :#3384FF;}
    85%   {color :#33C8FF;}
    90%   {color :#33FFC8;}
    95%   {color :#33FF93;}
    100%   {color :white;}
}

.loader {
    border: 14px solid  #e6e6e6;
    border-radius: 50%;
    border-top: 14px solid   #0099ff;
    border-bottom: 14px solid  #0099ff;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.heading
{
    display:inherit;
    margin:0;
    padding:30px 0 10px;
    text-align:center;
    text-shadow:1px 1px 2px rgba(0,0,0,0.5);
    font-family:Josefin Slab,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size:3em;
    font-weight:700;
    font-style:italic;
    line-height:normal;
    color:#fff;
}

.subheading
{
    display:inherit;
    margin:0;
    padding:10px 0 10px;
    text-align:center;
    text-shadow:1px 1px 2px rgba(0,0,0,0.5);
    font-family:Josefin Slab,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size:1em;
    font-weight:700;
    line-height:normal;
    color:#fff;
}

.spacer 
{
    margin-top:10px;
}