.returnedWordsList{
    max-height: 300px;
    overflow-y:scroll; 
}

.title {
    animation-name: color-change;
    animation-duration: 90s;
    animation-iteration-count: infinite;
}

/* Standard syntax */
@keyframes color-change {
    5%   {color:white;}
    10%  {color :#33EEFF;}
    15%  {color :#33FFE3;}
    20%   {color :#33FFB1;}
    25%   {color :#BEFF33;}
    30%   {color :#F3FF33;}
    35%   {color :#FFCE33;}
    40%   {color :#FF9D33;}
    45%   {color :#FF5533;}
    50%   {color :#FF3333;}
    55%   {color :#FF3386;}
    60%   {color :#FF33E1;}
    65%   {color :#C633FF;}
    70%   {color :#7633FF;}
    75%   {color :#333CFF;}
    80%   {color :#3384FF;}
    85%   {color :#33C8FF;}
    90%   {color :#33FFC8;}
    95%   {color :#33FF93;}
    100%   {color :white;}
}